# Created by .ignore support plugin (hsz.mobi)
/.idea/Combinator.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/Python_combinator.iml
/.idea/workspace.xml
